/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;  /* Ensure the content takes the full width */
}

.app-container {
  display: block;
}

header, footer {
  width: 100%;
}
